<header class="text-center list-none flex justify-center items-center gap-3">
    <button class="boton-tipo-pago" routerLink="ko-fi" routerLinkActive="activo">
        <img src="ko-fi.png" alt="Ko-Fi" width="100%">
        <span>Ko-Fi</span>
    </button>
    <button class="boton-tipo-pago" routerLink="stripe" routerLinkActive="activo">
        <img src="stripe.png" alt="Ko-Fi" width="100%">
        <span>Stripe</span>
    </button>
    <button class="boton-tipo-pago" routerLink="paypal" routerLinkActive="activo">
        <img src="paypal.png" alt="Ko-Fi" width="100%">
        <span>PayPal</span>
    </button>
</header>